body {
    margin: 0;
    padding: 0;
    background-color: #393f4d; /* Deep Matte Grey background color */
}

.header {
    background-color: #262831; /* Blended Dark Gray */
    color: white; /* White text */
    padding: 20px; /* Add some padding */
    text-align: center; /* Center text horizontally */
    position: fixed; /* Fixed positioning */
    top: 0; /* Position at the top of the viewport */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it's above other elements */
}

.nav-links {
    display: flex;
    float: right;
    padding-right: 60px;
    padding-top: 10px;
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 0 10px;
}

.nav-link:hover {
    background-color: rgb(155, 222, 255);
    color: #262831;
}

.logo {
    float: left; /* Align the image to the left */
    padding-left: 50px;
    margin-right: 20px; /* Add some space between the image and other content */
}

.container {
    display: flex; /* Use flexbox layout */
    justify-content: flex-start; /* Align items to the start (left) */
    align-items: center; /* Align items vertically in the center */
    margin-top: 200px; /* Add margin to separate from the header */
    height: 50vh; /* Full height of the viewport */
}

.content {
    padding: 100px; /* Add padding to the content area */
    color: #d4d4dc; /* Light gray text color */
}

.container h1 {
    font-size: 25px;
    margin: 0px;
}

.container h2 {
    font-size: 52px;
    margin-top: 5px; /* Remove margin from the top of the h1 element */
    margin-bottom: 10px; /* Add margin to the bottom of the h1 element */
}

.container p {
    font-size: 16px;
    margin: 0px;
}

.photo-container {
    padding-top: 50px;
    padding-left: 100px;
}

.skills-container, .experience-container {
    margin-top: 100px; /* Adjust spacing as needed */
    color: #d4d4dc; /* Light gray text color */
}

.skills-container h2, .experience-container h2 {
    font-size: 30px;
    padding-left: 120px;
    color: #d4d4dc; /* Light gray text color */
}

.skills-container ul, .experience-container ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
}

.skills-container ul li, .experience-container ul li {
    font-size: 30px;
    padding-left: 120px;
    margin-bottom: 10px; /* Add spacing between list items */
}

.skills-container p{
    font-size: 30px;
    padding-left: 120px;

}
